psycopg2-binary 
pyyaml 
pgvector
hydra-core 
jinja2
numpy 
dspy 
tabulate
python_dotenv
ollama
unstructured
fuzzywuzzy
lxml 

# web search tools
requests
wikipedia
duckduckgo-search
git+https://github.com/buriy/python-readability
beautifulsoup4
arxiv
gradio_client
torch

# Hugging face tool
huggingface_hub
python-Levenshtein

# analysis
matplotlib
scikit-learn
pdfminer.six