psycopg2-binary 
pyyaml 
pgvector
hydra-core 
jinja2
numpy 
dspy 
tabulate
python_dotenv
ollama
unstructured
fuzzywuzzy

# web search tools
requests
wikipedia
duckduckgo-search
readability-lxml
beautifulsoup4

# Hugging face tool
huggingface_hub
python-Levenshtein

# analysis
matplotlib
scikit-learn
pdfminer.six