# config/scoring/paper_review.yaml
scoring_profile: paper
prompt_dir: prompts/paper
output_format: simple
scorer: mrq

dimensions:
  - name: relevance
    file: relevance
    weight: 1.5
    extra_data: { parser: numeric }

  - name: novelty
    file: novelty
    weight: 1.2
    extra_data: { parser: numeric }

  - name: implementability
    file: implementability
    weight: 1.0
    extra_data: { parser: numeric }
