# configs/agents/document_loader.yaml

document_loader:
  name: document_loader
  enabled: true
  save_prompt: true
  save_context: true
  skip_if_completed: false

  force_domain_update: true # will force update the document domains
  top_k_domains: 3
  min_classification_score: 0.4
  domain_seed_config_path: "config/domain/seeds.yaml"
  download_directory: /tmp
  max_chars_for_summary: 16000
  summarize_documents: true

  model:
    name: ollama/qwen3
    api_base: http://localhost:11434
    api_key: null
  input_key: search_results   # add nodes
  output_key: documents
  prompt_mode: file
  prompt_file: summarize.txt

  preferences:
    - novelty_driven
    - feasibility_first
    - technical_precision
    - clarity
    - simplicity

